.Navbar {
    position: relative;
    background-color: rgb(227, 227, 227);
    display: flex;
    justify-content: space-around;
    height: 4rem;
}

#nav_img {
    width: 30rem;
}

#logout {
    position: relative;
    top: 0.8rem;
    right: 1rem;
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    height: 40px;
    background-color: #0e0d0d;
    color: #fff;
    font-size: medium;
}