.login_container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}
.form-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 6rem;
  background-color: #fff;
  height: 20rem;
  width: 20rem;
  padding: 40px 30px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 4px gray;
}

.input_login > label {
  position: relative;
  top: 0.8rem;
  right: 0.3em;
}

.input_login {
  margin-top: 30px;
}

#name,
#passwd,
#otp,
#email {
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  height: 25px;
  width: 13rem;
  text-align: center;
}

#submt {
  position: relative;
  top: 1rem;
  left: 5.7rem;
  border-radius: 16px;
  padding: 8px 12px;
  outline: none;
  border: none;
  background-color: rgb(29, 79, 243);
  color: #fff;
  font-size: medium;
}

#sub_otp {
  border-radius: 10px;
  padding: 4px 10px;
  outline: none;
  border: none;
  background-color: rgb(62, 104, 243);
  color: #fff;
  font-size: medium;
  position: relative;
  left: 4rem;
  top: 0.7rem;
}

.login-img-container img {
  position: relative;
  top: 6rem;
  left: 6rem;
  width: 80%;
}
